.about {
  background-color: #dcdde1;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: 400px;
  background-color: #f5f6fa;
  border-radius: 10px;
}

.cardHeader {
  height: 100px;
  width: 400px;
  background-color: #192a56;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardHeader h1 {
  margin:  0;
  color: #f5f6fa;
  letter-spacing: 2px;
}

.cardBody {
  height: 280px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* Using clockwise notation to add different padding values to 
  different sides */
  padding: 10px 15px 10px 20px;
  line-height: 25px;

  /* The overflow: scroll; setting overrides the 
  border-bottom-radius values  */
  overflow: scroll;
  scroll-behavior: auto;
}
}

.cardBody p {
  margin: 0px;
}