body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #34495e;
    height: 5vh;
}

.nav h1 {
    color: whitesmoke;
    margin: 0;
    margin-left: 20px;
    align-self: center;
}

.navList{
    align-self: center;
    margin-right: 20px;
}

.navList li {
    color: whitesmoke;
    list-style: none;
    display: inline;
}

.navList li a {
    text-decoration: none;
    color: whitesmoke;
}

/* Target all children in '.navList li' but not the last-child */
.navList li:not(:last-child){
    margin-right: 10px;
}